<div class="row">
    <div class="col-6">
        <input asp-action="CreateNew" type="submit" class="btn btn-info form-control" value="Dodaj" />

    </div>
    <div class="col-6">
        <a asp-controller="Home" asp-page="/Home/AttendanceSystem" class="btn btn-success form-control">Anuluj</a>
    </div>

</div>
 