@model int
<div class="row">
    <div class="col-6">
        <input asp-action="Edit" type="submit" class="btn btn-info form-control" asp-route-id="@Model" value="Edytuj" />
    </div>
    <div class="col-6">
        <a asp-controller="Home" asp-action="AttendanceSystem" class="btn btn-success form-control">Anuluj</a>
    </div>
</div> 