@using AttendanceSystem.Models

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center" style="color:black;font-size:100px;">
    <h1 class="display-4"><strong style="color:black;font-size:80px;">Ewidencja czasu pracy</strong></h1>

</div>

<div class="content">

    @*<div class="block b1"><a style="color:white;" asp-controller="Employee" asp-action="CreateNew">Dodaj pracownika</a></div>*@
    <div class="block b1"><a style="color:white;" asp-area="Identity" asp-page="/Account/Register">Dodaj pracownika</a></div>
    <div class="block b2"><a style="color:white;" asp-controller="Employee" asp-action="AllUsers">Lista pracowników</a></div>
    <div class="block b3">Nowy projekt</div>
    <div class="block b4">Zadania </div>
    @*dodaj nowego pracownika*@
    @*Lista pracowników*@
    @*utwórz nowy projekt*@
</div>
